.SideMenu-container {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    margin-left: 1vw;
    box-shadow: 0.1vw black;

}

.SideMenu-list:hover {
    box-shadow: 0.5vw 0.5vw 0.5vw 0.5vw black;
}

.SideMenu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    border-radius: 25px;
    transition: box-shadow 0.5s;
}

.SideMenu-listitem {
    display: block;
    height: 2vw;
    text-align: center;
    font-size: 1.1vw;
    padding-top: 1vw;
    padding-bottom: 0.2vw;
    background-color: #e5e5e5;
    border-top: 0.1vw solid rgb(68, 68, 68);
}


a {
    text-decoration: none;
    color: rgb(80, 80, 80);
}

a:hover {
    color: white;
}


.SideMenu-listitem:hover {
    background-color: #5271FF;
}

.SideMenu-listheader {
    display: block;
    font-size: 1.2vw;
    background-color: #5271FF;
    color: #eeeeee;
    height: 1.8vw;
    text-align: center;
    padding-top: 0.5vw;
    padding-bottom: 0.1vw;
}